$color_header_div_row : rgba(100, 24, 24, 0.897);
$color_heading : white;
$color_li_nav : rgb(241, 210, 151);
$color_li_nav_hover : rgb(162, 253, 162);

$color_border_section : rgb(129, 28, 28);




$background_color_footer : rgb(58, 9, 9);
$color_footer : white;

