@import "../layout/flex";

.btn{
    &_carroussel{
        margin: auto;
        &_left{
            color: orange;
            &:hover{
                cursor : pointer ; 

            }
        }
    }
    &_close{
        float: right;
        font-size: 20px;
        cursor : pointer ;
    }
    &_margin_auto{
        margin: auto;}
    &_info_movie{
        cursor : pointer ;
        text-align: center;
        width: 60%;
        min-width: 18%;
        height: 12%;
        min-height: 10%;
        border-radius: 8px;
        margin: auto;
        border: 3px solid rgb(231, 145, 47);
        background-color: rgb(231, 145, 47);
            &:hover{
                background-color: white;
                }
    }
    &:hover{
        cursor: pointer;
    }
}

.hidden{
    display: none;
}
