@import "../utils/variables";

.page    { 
    display: none;
    padding: 0 0.5em; }
#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: $background_color_footer;
  background-image: url("./static/img/loading_litiboost.gif") ;
  background-repeat: no-repeat;
  background-position: center;
}