@import "../layout/animations";

.container{
    @include flexcolumn_space_around;
    word-wrap: break-word ;
    width: 95%;
    margin-top: 4%;
    margin-bottom: 4%;
    #title {
        h1 {
            padding-top: 15px;
        }
    }
    section{
        width: 100%;
        background-color: rgba(245, 226, 199, 0.938);
        border: 2px solid $color_border_section;
        margin: 15px;
        .container{
            @include flexrow_space_around;
            .movieDetails{
                width: 45%;
                padding-bottom: 5px;
            }
            margin: auto;
            .row{
                @include flexrow_space_around;
                margin: 5px;
                padding-bottom: -15px;
                .movie{
                    width: 65%;
                    margin: 5px;
                }
            }
            .img_movie{
                img {
                box-shadow: 10px 10px 5px $color_box_shadow_img;
                }
            }
           
        }
        .row{
            margin-bottom: 15px;
            @include flexrow_space_between;
            .btn_carrousel{   
                margin: auto;
                width: 5%;
                svg:hover {
                   cursor: pointer;
                }
            }
           .carrousel{
                @include flexrow_space_around;
                width: 90%;
                & div {
                    padding: 2px;
                    & h3 {
                        height: 15%;
                        word-wrap: break-word ;
                        margin-bottom: -15px;
                        text-align: center;
                    }
                    & img{
                        width: 80%;
                        display: block;
                        text-align: center;
                        cursor: help;
                        box-shadow: 10px 10px 5px $color_box_shadow_img;
                    }
                }
                .modal-content {
                    & img {
                        cursor: default;
                    }
                }    
            } 
        }
        
    }
};

.row{
    @include flexrow_space_around;
};


.color{
    background-color: aquamarine;
};

.modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
    .modal-content {
        background-color: $background_color_footer;
        margin: 15% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        color: $color_text_modal;
        .include-modal {
            @include flexrow_space_around;
        }
        & img{
            cursor: default;
        }
    
    }
};

.best_movies__carrouselItem{
    display: flex;
}