@import "../utils/variables";
@import "../layout/flex";

header {
    position: fixed;
    background-color: $color_header_div_row;
    margin : -8px;
    padding: 2px 5px 2px 10px;
    border-bottom: 3px solid white;
    width: 100%;
    div.row {
        @include flexrow_space_around;
        div.logo{
            width: 10%;
            img{
                width: 90%;
                max-width: 90px;
                max-height: 60px;
                margin: auto
            }
        }
        nav {
            @include flexrow_center_center;
            margin: auto;
            width: 80%;
            ul{
                @include flexrow_center_center;
                margin-left: -60px;
                width: 100%;
                height: 100%;
                li{
                    width: 100%;
                    height: 100%;
                    @include flexrow_space_around;
                    a{
                        color : $color_li_nav;
                        @include size_link_nav;
                        &:hover{
                            color: $color_li_nav_hover;
                        }
                    }
                }
            }
        }
    }
}
