@import "../layout/animations";

.container{
    @include animate_fade_in;

    @include flexcolumn_space_around;
    width: 90%;
    margin:auto ;
    margin-top: 0%;
    section{
        width: 100%;
        background-color: rgba(245, 226, 199, 0.938);
        border: 2px solid $color_border_section;
        margin: 5px;
        .container{
            .oneline{
                @include flexrow_space_around;
                margin: 5px;
                color:burlywood;
                color: rgb(56, 51, 51);
                .movie{
                    width: 65%;
                    margin: 5px;
                }
            }
        }
        .carroussel{
            width: 90%;
            & h3 {
                height: 20px;
                text-align: center;
            }
        }
    }
}


.row{
    @include flexrow_space_around;
}


.color{
    background-color: aquamarine;
}
