@mixin flexrow_space_between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}


@mixin flexrow_space_around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;

}

@mixin flexrow_center_center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

@mixin flexcolumn_space_around{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;

}